*{               /*property is applied to whole project*/
    margin: 0%;
    padding: 0%;

}

.container{
    width:100%;
    height:100vh;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.weather{
    color: white;
}

.temp{
    font-size: 4.5rem;
}

.location{
    font-size: 2rem;
}

.condition{
    margin: 0.5rem;
    margin-left: 0.2rem;
}

nav{
    height: 50px;
}

.search_area{
    padding: 1rem 0;
    padding-bottom: 23px;
    margin-left: 2rem;
    margin-right: 0.25rem;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom: 2px solid #ffffff;
}

nav form button{
    padding: 0.5rem;
    background-color: white;
    margin-top: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}







